.content__card {
  display: grid;
  width: 150px;
  justify-content: center;

  &--imgBox {
    width: 150px;
    height: 80px;
    object-fit: contain;

    img {
      width: 600%;
    }
  }
  &--price {
    text-align:center;
    height: 60px;
    width: 180px;
    font-size: 1rem;
    object-fit: contain;
  }
  &--title {
    text-align:center;
    height: 60px;
    font-size: 15px;
    object-fit: contain;
  }
  &--type {
    text-align:center;
    height: 60px;
    object-fit: contain;
    font-size: 20px;
  }
}
